html{
    height: 100%;
}
body{
    background-color: #000;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#timer{
    background: url('./img/01.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    display: none;
}
.alpha{
    background: rgba(0,0,0,0.8);
}
.year{
    font-family: serif;
    font-size: 150px;
}
.time{
    padding: 20px;
    color: #fff;;
}

.loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }